<a href="https://colab.research.google.com/github/MauroQuintanilla1/PROGRAIII-2024/blob/main/Copia_de_Fundamentos_de_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("HOLA MUNDO")
Nombre= "Mauro Quintanilla"

print ("Hola", Nombre,"inicial", Nombre[0],Nombre[5])

HOLA MUNDO
Hola Mauro Quintanilla inicial M

EJERCICIO, CREAR UN PROGRAMA EN PHYTON QUE SUME DOS NUMEROS

In [ ]:
num1 = 5
num2 = 9.5
resp = num1 + num2
print ("la suma es", resp)

la suma es 14.5

EJERCICIO, CREAR UN PROGRAMA DE PYTHON  QUE SUME DOS NUMEROS INTRODUCIDOS POR USUARIOS

In [ ]:
# prompt: EJERCICIO, CREAR UN PROGRAMA DE PYTHON QUE SUME DOS NUMEROS INTRODUCIDOS POR USUARIOS

num1 = float(input("Introduce el primer número: "))
num2 = float(input("Introduce el segundo número: "))
suma = num1 + num2
print("La suma de", num1, "y", num2, "es igual a", suma)

Introduce el primer número: 8
Introduce el segundo número: 9
La suma de 8.0 y 9.0 es igual a 17.0

In [ ]:
#tipo de datos
num1 = 5
num2 = 5.9
nombre = "Mauro Quintanilla"
print(nombre[0:4], nombre [:4],nombre [-5], nombre [5:len(nombre)])

estado = True
print(type(nombre), type(num1), type(num2), type (estado) )

Maur Maur n  Quintanilla
<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

EJERCIO CREE UN PROGRAMA EN PYTHON QUE LEA UN NUMERO Y DETERMINE SI ES PAR O IMPAR

In [ ]:
# prompt: EJERCIO CREE UN PROGRAMA EN PYTHON QUE LEA UN NUMERO Y DETERMINE SI ES PAR O IMPAR

numero = int(input("Introduce un número: "))
if numero % 2 == 0:
  print(numero, "es un número par.")
else:
  print(numero, "es un número impar.")

Introduce un número: 7
7 es un número impar.

EJERCICIO: CONVERTIR GRADOS CELSIUS A FARANHEIT, USANDO FUNCIONES DE USUARIO

In [ ]:
def CONERVTIR_cf(c):
    return 32+ c*1.8

In [ ]:
c = float (input ("celsisus: "))
print("f: ", CONERVTIR_cf(c))

celsisus: 33
f:  91.4

EJERCICIO: DETERMINAR SI UN NUMERO ES PAR O IMPAR

In [ ]:
def parImpar(num):
  if (num % 2 == 0):
    return "par"
  return "impar"

In [ ]:
num = int (input ("num: "))
print ("El numero  ", num, "es", parImpar(num))

num: 9
El numero   9 es impar

TAREA (MIERCOLES):
1.CONVERTIR GRADOS FARENHEITS A CELSIUS
2.CONVERTIR GRADOS [CELSISUS Y FARENHEITS] A KELVIN


EJERCICIO: CALCULAR EL SUELDO DE UN TRABAJADOR

In [ ]:
def sueldo(numhrs, valorxhrs):
 sueldo = numhrs * valorxhrs * 30
 if numhrs > 8:
  sueldo = sueldo + (numhrs - 8) * valorxhrs *30
  return sueldo

In [ ]:
numhrs = int(input("horas: "))
valorxhrs = float(input("valor: "))
print("sueldo: ", sueldo(numhrs, valorxhrs))

horas: 8
valor: 1.5
sueldo:  None

Ejercicio: elevar un numero al cuadrado

In [12]:
def elevar_cuadrado(base=0, exponente=2):
  return base ** exponente

In [13]:
num = int(input("num:"))
print("cuadrado",elevar_cuadrado(num, 3))

num:3
cuadrado 27

Ejercicio LAMDA

In [8]:
elevarcuadradolambda = lambda base, exponente: base ** exponente

In [9]:
valor= int(input("num: "))
print ("cuadrado",elevarcuadradolambda(valor, 2))

num: 3
cuadrado 9

In [15]:
serie = [5,4,3,2,6,7]
resp = map (lambda x: x**2, serie)
print(list(resp))

resp2 = map(elevar_cuadrado,serie)
print(list(resp2))

[25, 16, 9, 4, 36, 49]
[25, 16, 9, 4, 36, 49]

ejercicio: obtener la raiz cuadrada de una serie de numeros fijos

In [16]:
serie = [5,4,3,2,6,7]
resp = map (lambda x: x**0.5, serie)
print(list(resp))

[2.23606797749979, 2.0, 1.7320508075688772, 1.4142135623730951, 2.449489742783178, 2.6457513110645907]